<link rel="stylesheet" href="vehicleType/vehicleType.css">

<div class="page-header">
  <h1>Header <small>Hello</small></h1>
</div>

<div class = "car-container">
  <div ng-controller="coupeController">
    <div style="height: 500px">
      <div id="myCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item" ng-class="{active:!$index}" ng-repeat="slide in slides">
            <img src={{slide.image}} style="margin:auto;" ng-click="setCarType('coupes');go('/vehicleModel')" width="468" height="627">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="typeLabel"><h3>Coupes</h3></div>
    </div>
  </div>
</div>

<div class = "car-container">
  <div ng-controller="suvController">
    <div style="height: 500px">
      <div id="myCarousel2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item" ng-class="{active:!$index}" ng-repeat="slide in slides">
            <img src={{slide.image}} style="margin:auto;" ng-click="setCarType('suvs');go('/vehicleModel')" width="468" height="627">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="typeLabel"><h3>SUV</h3></div>
    </div>
  </div> <!--slideShow-->
</div>


<div class = "car-container">
  <div ng-controller="sedanController">
    <div style="height: 500px">
      <div id="myCarousel3" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item" ng-class="{active:!$index}" ng-repeat="slide in slides">
            <img src={{slide.image}} style="margin:auto;" ng-click="setCarType('sedans');go('/vehicleModel')" width="468" height="627">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="typeLabel"><h3>Sedan</h3></div>
    </div>
  </div> <!--slideShow-->
</div>


<div class = "car-container">
  <div ng-controller="convertibleController">
    <div style="height: 500px">
      <div id="myCarousel4" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item" ng-class="{active:!$index}" ng-repeat="slide in slides">
            <img src={{slide.image}} style="margin:auto;" ng-click="setCarType('convertibles');go('/vehicleModel')" width="468" height="627">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel4" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel4" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="typeLabel"><h3>Convertible</h3></div>
    </div>
  </div> <!--slideShow-->
</div>





<!--Scripts-->

