.carousel-caption h1{
	color: black;
}

.car-container{
	height: 300px;
	width: 400px;
}

.carousel-caption {
	overflow: hidden;
	padding-top: 30px;
}

.typeLabel h3{
	font-family: AudiNormal;
	text-align: center
}