<link rel="stylesheet" href="features/features.css">

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <img ng-click="setImageOption('Engine')" src="resources/img/coupe-r8-features/engine/coupe-r8-engine-03.jpg" width="200" height="200">
      <p align="center">Engine</p>
      <img ng-click="setImageOption('Exterior')" src="resources/img/coupe-r8-features/exterior/coupe-r8-exterior-08.jpg" width="200" height="75">
      <p align="center">Exterior</p>
      <img ng-click="setImageOption('Interior')" src="resources/img/coupe-r8-features/interior/coupe-r8-interior-06.jpg" width="175" height="150" align="center">
      <p></p>
      <p align="center">Interior</p>
    </div>
    <div class="col-xs-6">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item" ng-class="{active:!$index}" ng-repeat="slide in getSlides()">
            <img src={{slide}} alt="Chania">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-xs-4">
      <h2 align="center">Audi R8</h2>
      <h4>Performance art</h4>
      <h4>The R8 Blurs the lines between art and performance with exotic stying and the handling performance to match.
        With the choice of three potent engines, it excels at blurring your surroundings too.</h4>
        <h4>Key Features</h4>
        <ul>
          <li>430 hp 4.2-liter FSI V8 engine</li>
          <li>Audi magnetic ride</li>
          <li>Full LED headlights and LED taillights</li>
          <li>Leather/Alcantara seating surfaces</li>
          <li>BLUETOOTH wireliess technology preparation for mobile phone</li>
        </ul>
        <button type="button" class="btn btn-primary btn-lg" id="modalTrigger" data-toggle="modal" data-target="#myModal">I LOVE THIS CAR!</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <footer>
          <p>&copy; Copyright 2015 CDK Global</p>
        </footer>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Ready For a Ride?</h4>
        </div>
        <div class="modal-body">
          <button  class="btn btn-danger fullModal"  id='callbtn' type="button"> Speak to a Live Representative</button>

          <div class="input-group">
           <input type="tel" name="usrtel" class="form-control" id="textNumber" placeholder="Enter your phone number....">
           <span class="input-group-btn">
            <button class="btn btn-success" id='textbtn' type="button">Tell me more!</button>
          </span>
        </div><!-- /input-group -->

        <div>
          <object id="sipphone" type="application/x-qt-plugin" classid="sipphone" width="560" height="480">
           <param name="url" value="http://"/>
           <param name="width" value="640"/>
           <param name="height" value="480"/>
         </object>
       </div>
       <div >
         <div id ="dtmfController" >
           <div class="btn-toolbar centerOfDiv" role="toolbar">
             <table class="centerOfDiv">
               <td><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="1">1</button></td>
               <td><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="2">2</button></td>
               <td><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="3">3</button></td>
             </table>
           </div>
           <button class="btn btn-danger centerOfDiv" id='hangupBtn' type="button">Hang up!</button>

         </div>

         <!--<button class="btn btn-danger" id='hangupBtn' type="button">Hang up!</button>
         <table class="centerOfDiv" id="phoneNumPad">
          <tr>
            <div class="btn-toolbar" role="toolbar">
              <td><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="1">1</button></td>
              <td><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="2">2</button></td>
              <td><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="3">3</button></td>
            </div>
          </tr>
          <tr>
            <div class="btn-toolbar" role="toolbar">
              <td><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="4">4</button></td>
              <td><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="5">5</button></td>
              <td><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="6">6</button></td>
            </div>           
          </tr>
          <tr>
            <div class="btn-toolbar" role="toolbar">
              <td><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="7">7</button></td>
              <td><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="8">8</button></td>
              <td><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="9">9</button></td>
            </div>             
          </tr>
          <tr>
            <div class="btn-toolbar" role="toolbar">
              <td class="hideMe"><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="*">*</button></td>
              <td><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="0">0</button></td>
              <td><button type="button" role="group" class="btn btn-primary btn-group btnClick" value="x">x</button></td>
            </div>             
          </tr>
        </table>-->
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>