.carousel {
    margin-top: 60px;
    margin-right: 50px;
    position: fixed;
    width: 49%;
}
.hideMe{
	visibility:hidden;
}

#dtmfController{
	text-align:center;
}

.centerOfDiv{
   margin: 0 auto;

}

.nav-text {
    margin-right: 90px;
}

.fullModal{
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
}

.btnClick{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #82C600;
    border: 1px solid #ffffff;

}
.addCenter{
    margin-left: 250px;
}
#hangupBtn{
	height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid #ffffff;
}

.hid{
	visibility: hidden;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
.blackout{
    background-color: black;
}